force-app/main/default/flows/Lead_Before_Save_Update_Message_on_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Stage_Is_New</name>
        <label>Stage Is New</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Stage_is_Unqualified</name>
        <label>Stage is Unqualified</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Stage_to_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Is_New</targetReference>
            </connector>
            <label>Change Stage to New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Form_LeadMessage</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record__Prior.Message__c}),TEXT(DATEVALUE({!$Flow.CurrentDateTime})) + BR()+{!$Record.Message__c},
{!$Record__Prior.Message__c} + BR()+BR()+ TEXT(DATEVALUE({!$Flow.CurrentDateTime})) + BR()+ {!$Record.Message__c})</expression>
    </formulas>
    <interviewLabel>Lead Before Save: Update Message on Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Before Save: Update Message on Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Message</name>
        <label>Update Lead Message</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Stage_is_Unqualified</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>Form_LeadMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Lead_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Message__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Lead_Message</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
