force-app/main/default/flows/Opportunity_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Order_Signed_Email_Alert</name>
        <label>Order Signed Email Alert</label>
        <locationX>600</locationX>
        <locationY>1439</locationY>
        <actionName>Opportunity.Order_Signed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Order_Signed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>When Opportunity gets closed lost, the Close Date is automatically adjusted to the same day</description>
        <name>Changed_to_Status</name>
        <label>Changed to Status ?</label>
        <locationX>732</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Is_Order_Signed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed_to_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date</targetReference>
            </connector>
            <label>Changed to Closed Lost</label>
        </rules>
        <rules>
            <name>Closed_won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_release_to_production_date</targetReference>
            </connector>
            <label>Changed to Closed won</label>
        </rules>
        <rules>
            <name>Changed_to_Negotiation_or_Finalizing</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR ( 5 AND 6 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Finalizing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_dispatch_date_null</targetReference>
            </connector>
            <label>Changed to Negotiation or Finalizing or Quoted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Date_changed</name>
        <label>Closed Date changed?</label>
        <locationX>732</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Changed_to_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Dispatch_date</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_dispatch_date_null</name>
        <label>Is dispatch date null?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dispatch_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Dispatch_date</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_dispatch_date_null</name>
        <label>Is dispatch date null?</label>
        <locationX>974</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Is_Order_Signed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_dispatch_date_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dispatch_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dispatch_date</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Signed</name>
        <label>Is Order Signed</label>
        <locationX>732</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.IsOrderSigned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsOrderSigned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Signed_Email_Alert</targetReference>
            </connector>
            <label>Order Signed</label>
        </rules>
    </decisions>
    <description>29.6.2023 - Notification when Order is signed in DC
14.3.2024 - Dispatch date auto update if empty in later stages
2.7.24 - dispatch date always updated on close date change</description>
    <environments>Default</environments>
    <formulas>
        <name>DispatchDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 56</expression>
    </formulas>
    <interviewLabel>Opportunity_After_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_After_Update_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Set_Dispatch_date</name>
        <label>Set Dispatch date</label>
        <locationX>600</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Changed_to_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Dispatch_Date__c</field>
            <value>
                <elementReference>DispatchDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Set_Dispatch_date</name>
        <label>Set Dispatch date</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Dispatch_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Dispatch_date</name>
        <label>Set Dispatch date</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Is_Order_Signed</targetReference>
        </connector>
        <inputAssignments>
            <field>Dispatch_Date__c</field>
            <value>
                <elementReference>DispatchDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_release_to_production_date</name>
        <label>Set release to production date</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_dispatch_date_null</targetReference>
        </connector>
        <inputAssignments>
            <field>Release_to_production_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Close_Date</name>
        <label>Update Close Date</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Copy_1_of_Is_dispatch_date_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Closed_Date_changed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
