force-app/main/default/flows/Quote_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Quote_Status_changed_to_Printed_or_Quoted</name>
        <label>Quote Status changed to Printed or Quoted</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Printed_or_Quoted</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Printed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage</targetReference>
            </connector>
            <label>Printed or Quoted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage</name>
        <label>Stage?</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Stage_to_Quoted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No match</defaultConnectorLabel>
        <rules>
            <name>Positive_follow_up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive Follow-up</stringValue>
                </rightValue>
            </conditions>
            <label>Positive follow-up</label>
        </rules>
        <rules>
            <name>Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <label>Negotiation</label>
        </rules>
        <rules>
            <name>Finalizing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizing</stringValue>
                </rightValue>
            </conditions>
            <label>Finalizing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote_After_Update_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote_After_Update_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_Stage_to_Quoted</name>
        <label>Update Opportunity Stage to Quoted</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Quoted</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote_Status_changed_to_Printed_or_Quoted</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
