force-app/main/default/flows/Realisation_starts_soon_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Realisation_starts_in_8_weeks</name>
        <label>Realisation starts in 8 weeks</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Realisation starts in 8 weeks from now</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody_RealisationStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Realisation_Starts_in_8_Weeks_Alert</name>
        <label>Realisation Starts in 8 Weeks Alert</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <actionName>Opportunity.Realisation_starts_in_8_weeks</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Realisation_starts_in_8_weeks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Realisation_starts_in_8_weeks</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Opportunity_Owner_ID_in_Recipient_ID</name>
        <label>Add Opportunity Owner ID in Recipient ID</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Record_ID</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>fds</name>
        <dataType>String</dataType>
        <value>
            <stringValue>fds</stringValue>
        </value>
    </constants>
    <constants>
        <name>MoozaUserID_Hardcoded</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0055r000004lFwGAAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>NVUserID_hardcoded</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0055r000004lFwGAAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>X8_weeks_or_less_to_Realisation_start</name>
        <label>8 weeks or less to Realisation start</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X8_weeks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RealizationStartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TODAY_plus_8weeks</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RealizationStartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Realisation_Start_confirmed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opportunity_Owner_ID_in_Recipient_ID</targetReference>
            </connector>
            <label>8 weeks</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NotificationBody_RealisationStartDate</name>
        <dataType>String</dataType>
        <expression>&apos;Please note, the Realisation for the following Opportunity starts in 10 weeks:&apos; 
+ {!$Record.Name}
+ TEXT({!$Record.RealizationStartDate__c})</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY ()</expression>
    </formulas>
    <formulas>
        <name>TODAY_plus_8weeks</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 56</expression>
    </formulas>
    <interviewLabel>Realisation starts soon Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Realisation starts soon Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Record_ID</name>
        <label>Get Custom Notification Record ID</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Realisation_Starts_in_8_Weeks_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realisation_Start_10_weeks</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X8_weeks_or_less_to_Realisation_start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RealizationStartDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Realisation_Start_confirmed__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-10</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>fdsgfd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0055r000004lFwGAAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>MoozaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MoozaUserID_constant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>MoozaUserID_Hardcoded</elementReference>
        </value>
    </variables>
    <variables>
        <name>NotificationBody_RealisationStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>fdsfds</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
